.button-container {
  .primary {
    font-family: "Raleway", cursive;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    color: white;
    background-color: #5ece7b;
    padding: 13px 29.5px;
    border: none;
    text-transform: uppercase;
  }
  .secondary {
    font-family: "Raleway", cursive;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    padding: 11px 36px;
    text-transform: uppercase;
    background-color: white;
  }
  .selected {
    color: white;
    background-color: black !important;
  }
  .has-icon {
    width: 24px;
    height: 24px;
  }
}
