%text {
  font-family: "Raleway", cursive;
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  margin-right: 10px !important;
}
.dropdown-container {
  position: relative;

  > button {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    > span {
      @extend %text;
    }
  }
  > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    width: max-content;
    padding-top: 5px;
    padding-left: 5px;

    > li {
      margin-top: 10px;
      @extend %text;
    }
  }
}
