.product-card {
  display: flex;
  flex-direction: column;
  padding: 11px 16px 16px 16px;
  font-family: "Raleway", cursive;
  line-height: 28.8px;
  color: #1d1f22;

  > h6 {
    font-weight: 300;
    font-size: 18px;
    margin-top: 24px;
    opacity: 70%;
    margin-bottom: 15px;
  }
  > p {
    font-weight: 500;
    margin: -18px 0px;
  }
  > img {
    width: 344px;
    height: 310px;
  }
}
