%row {
  display: flex;
  flex-direction: row;
}
.header-container {
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding-left: 101px;
  padding-right: 87px;
  @extend %row;
  > section {
    @extend %row;
  }
}
